<ion-header>
  <ion-toolbar class="header-color">
    <ion-title>
      <ion-chip>
        <ion-avatar>
          <img src="../../assets/logo-d.png">
        </ion-avatar>
        <ion-label class="text-white">News</ion-label>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides pager="true" class="rendimentos">
    <ion-slide>
      <canvas #lineCanvas></canvas>
    </ion-slide>
    <ion-slide>
      
    </ion-slide>
    <ion-slide>
      
    </ion-slide>
    <ion-slide>
      
    </ion-slide>
  </ion-slides>
</ion-content>
