ion-content {
    --ion-background-color: #171717 !important;
}
.rendimentos {
    height: 100% !important;
}
.chart-icon {
    width: 67.56px;
    margin: auto;
    display: block;
}
.size-text-title {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.largura-tela {
    width: 100vw;
}