<ion-header>
  <ion-toolbar class="header-color">
    <ion-title>
      <ion-chip>
        <ion-avatar>
          <img src="../../assets/logo-d.png">
        </ion-avatar>
        <ion-label class="text-white">News</ion-label>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-slides pager="true" class="rendimentos">
      <!-- Gráfico dos Últimos 12 Meses -->
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <canvas #lineCanvas></canvas>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <canvas #barCanvas></canvas>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!-- Gráfico de Rendimento Diário -->
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <canvas #doughnutCanvas></canvas>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!-- Gráfico de Rendimento Semanal -->
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <canvas #doughnutCanvas2></canvas>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <!-- Gráfico de Rendimento Mensal -->
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <canvas #doughnutCanvas3></canvas>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  <!-- <ion-list>

    <ion-item *ngFor="let task of tasks | async">

      <input type="text" [(ngModel)]="task">

    </ion-item>

  </ion-list> -->
</ion-content>
