<ion-header>
  <ion-toolbar class="header-color">
    <ion-title>
      Simulador do Next
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img class="size-logo center" src="/assets/next.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Qual será o valor aplicado?</ion-card-subtitle>
        <ion-input type="number" class="input-value-card" placeholder="R$ 0.00" [(ngModel)]="valorAplicado"></ion-input>
        <ion-card-subtitle>Selecione agora a taxa de rendimento!</ion-card-subtitle>
        <ion-range color="dark" value=1 min="0" max="100" step="1" snaps="true" pin="true" [(ngModel)]="taxa">
          <ion-label slot="start">0%</ion-label>
          <ion-label slot="end">100%</ion-label>
        </ion-range>
        <ion-button class="header-color" expand="block" (click) ="getSimular()">Simular</ion-button>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card header-color">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div>
                <p class="text-white size-letter-upper">R$ {{totalRendimento}}</p>
                <p class="text-white">Total em 12 meses</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div>
                <p class="text-white size-letter-upper">R$ {{rendimentoMensal}}</p>
                <p class="text-white">Rendimento/mês</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <div>
                <p class="text-white">Rendimentos + Investimentos</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <p class="text-white">R$ {{rendimentoValorInvestido}}</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <div>
                <p class="text-white">Investimento em dólar:</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <p class="text-white">US$ {{valorInvestidoDollar}}</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="8">
                <div>
                  <p class="text-white">O valor de pontos é:</p>
                </div>
              </ion-col>
              <ion-col size="4">
                <div>
                  <p class="text-white">{{pontos}} pts</p>
                </div>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content >
        <p>Detalhamento...</p>
      </ion-card-content>
    </ion-card>

</ion-content>
