<ion-header>
  <ion-toolbar class="header-color">
    <ion-title>
      Simulador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/dreams.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Qual será o valor aplicado?</ion-card-subtitle>
        <ion-input class="input-value-card" placeholder="R$ 0,00"></ion-input>
        <ion-card-subtitle>O valor equivalente em dólar é: US$ 0,00</ion-card-subtitle>
        <ion-card-subtitle>Selecione agora a taxa de rendimento!</ion-card-subtitle>
        <ion-range min="1" max="15" step="1" snaps="true" pin="true">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="">2</ion-label>
          <ion-label slot="end">15</ion-label>
        </ion-range>
      </ion-card-header>
    </ion-card>
    <ion-content>
    <!-- <ion-card class="welcome-card">
      <ion-img src="/assets/dreams.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Qual será o valor aplicado?</ion-card-subtitle>
        <ion-input class="input-value-card" placeholder="R$ 0,00"></ion-input>
        <ion-card-subtitle>O valor equivalente em dólar é: US$ 0,00</ion-card-subtitle>
        <ion-card-subtitle>Selecione agora a taxa de rendimento!</ion-card-subtitle>
        <ion-range min="1" max="15" step="1" snaps="true">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">15</ion-label>
        </ion-range>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> -->

</ion-content>
