<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>
      <img class="half-img-width" src="../../assets/next-black-logo.svg" (click) ="selectLanguage()">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header class="margin-less">
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="align-vertically-center">
            <ion-card-subtitle class="ion-text-center bold-text">{{'tab3.frase' | translate}}:</ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-input type="number" class="input-value-card bold-text" placeholder="US$ 50.00" [(ngModel)]="investimento" (keyup)="onKey()"></ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-subtitle class="ion-text-center">
          <span *ngIf="investimento > 0">{{investimento | currency:'USD':true:'1.2-2'}} dollars</span>
          <span *ngIf="investimento == 0"></span>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-content>
      <ion-list>
        <!-- Reino Unido -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/aud.png"><img>
          <ion-label class="values-center" slot="end">{{AUD | currency:'USD':true:'1.2-2'}}</ion-label>
        </ion-item>
        <!-- Bulgária -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/bgn.png"><img>
          <ion-label class="values-center" slot="end">{{BGN | currency:'USD':true:'1.2-2'}}</ion-label>           
        </ion-item>
        <!-- Brasil -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/brl.png"><img>
          <ion-label class="values-center" slot="end">{{BRL | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Canadá -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/cad.png"><img>
          <ion-label class="values-center" slot="end">{{CAD | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Suíça -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/chf.png"><img>
          <ion-label class="values-center" slot="end">{{CHF | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- China -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/cny.png"><img>
          <ion-label class="values-center" slot="end">{{CNY | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- República Tcheca -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/czk.png"><img>
          <ion-label class="values-center" slot="end">{{CZK | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Dinamarca -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/dkk.png"><img>
          <ion-label class="values-center" slot="end">{{DKK | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Europa -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/eur.png"><img>
          <ion-label class="values-center" slot="end">{{EUR | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Libra - Reino Unido -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/gbp.png"><img>
          <ion-label class="values-center" slot="end">{{GBP | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Hong Kong -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/hkd.png"><img>
          <ion-label class="values-center" slot="end">{{HKD | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Indonésia -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/idr.png"><img>
          <ion-label class="values-center" slot="end">{{IDR | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Índia -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/inr.png"><img>
          <ion-label class="values-center" slot="end">{{INR | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Japão -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/jpy.png"><img>
          <ion-label class="values-center" slot="end">{{JPY | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Coreia do Sul -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/krw.png"><img>
          <ion-label class="values-center" slot="end">{{KRW | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- México -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/mxn.png"><img>
          <ion-label class="values-center" slot="end">{{MXN | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Noruega -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/nok.png"><img>
          <ion-label class="values-center" slot="end">{{NOK | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Polônia -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/pln.png"><img>
          <ion-label class="values-center" slot="end">{{PLN | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Suécia -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/sek.png"><img>
          <ion-label class="values-center" slot="end">{{SEK | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Tailândia -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/thb.png"><img>
          <ion-label class="values-center" slot="end">{{THB | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- Turquia -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/try.png"><img>
          <ion-label class="values-center" slot="end">{{TRY | currency:'USD':true:'1.2-2'}}</ion-label>          
        </ion-item>
        <!-- África do Sul -->
        <ion-item lines="full">
          <img slot="start" class="flag" src="../../assets/flags/zar.png"><img>
          <ion-label class="values-center" slot="end">{{ZAR | currency:'USD':true:'1.2-2'}}</ion-label>    
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
