// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('font/montserrat.css');
    font-weight: 400;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.half-img-width {
    max-width: 50%;
}
.text-white {
    color: white !important;
}
.tab-selected {
    color: #E4E4E4 !important;
}