// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('font/montserrat.css');
    font-weight: 400;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.half-img-width {
    max-width: 50%;
}
.text-white {
    color: white !important;
}
.tab-selected {
    color: #E4E4E4 !important;
}
.margin-less {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 5px !important;
    padding-inline-start: 5px !important;
    -webkit-padding-end: 5px !important;
    padding-inline-end: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.input-value-card {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
ion-input {
    text-align: center;
}
.align-vertically-center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.bold-text {
    font-weight: bold;
}